body {
    font: 16px/1 Helvetica, sans-serif;
}

#searchBox{
    background-position: 10px 12px;
    background-repeat: no-repeat;
    position: sticky;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
}
*{
    box-sizing: border-box;
    margin: 0;
}

#container{
    background: #ededed;
    width: 100vw;
    margin-left: calc((100% - 100vw)/2);
    height: 100vh;
    min-height: 800px;
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    z-index: -10;
    /* margin-top: -151px; */
}

#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
}
/*
.photo,
.photo img {
    min-width: 160px;
    max-width: 240px;
}
*/
.photo {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    
  }
  .photo > img{
    max-width: 100%;
    height: auto;
  }